body{
background-color: #4e4e5c;
}
/* Стиль шапки с более тёмным фоном и отступами */
.header {
  overflow: hidden;
  background-color: #1e1e23;
  padding: 5px 10px;
}

/* Стиль ссылок шапки */
.header a {
  float: left;
  color: #d2d2d8;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  font-size: 17px;
  line-height: 14px;
  border-radius: 10px;
}

/* Стиль ссылки логотипа */
.header a.logo {
  font-size: 25px;
  font-weight: bold;
  padding: 1px;
}

/* Стиль активной/текущей ссылки */
.header a.active {
  background-color: grey;
  color: white;
}


/* Сдвигаем секцию со ссылками вправо */
.header-right {
  float: right;
}
.FIO {
 text-align: center;
 font-size: 150%;
 color: #febf4b;
}
.content {
  display: flex;
  text-align: center;
  justify-content: space-around;
  font-size: 120%;
}
.foto{
 height: 30%;
 width: 30%;
 display: block; /* Выравниваем фото по центру блока */
 margin: 0 auto; 
}
h3 {
	color: #febf4b;
}
.text {
 height: 40%;
 width: 40%;
 display: block; /* Выравниваем текст по центру блока */
 margin: 0 auto;
 Padding: 1%;
 color: #d2d2d8;
}

.img {
    width: 100%;
    height: auto;
    object-fit: cover;
    justify-content: center;
    align-items: center;
}
.img1 {
    width: 100%;
    height: 50%;
    object-fit: cover;
    justify-content: center;
    align-items: center;
}
.img2 {
    width: 100%;
    height: 50%;
    object-fit: cover;
    justify-content: center;
    align-items: center;
}
.box-1, .box-2, .box-3, .box-4 {
    width: 33%;
    height: 65%;
    margin: 1%;
    text-align:center;  
    justify-content: space-around;
    display: block; /* Выравниваем текст по центру блока */
    margin: 0 auto; 
}
.box-5, .box-6, .box-7, .box-8 {
    width: 25%;
    height: 65%;
    margin: 1%;
    text-align:center;
    display: block; /* Выравниваем текст по центру блока */
    margin: 0 auto; 

}

.container-1{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-content:space-around; 

}

.container-2{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    flex-basis: auto;
}

.box-9 {
  grid-area: one;

}
.box-10 {
  grid-area: two;

}
.box-11 {
  grid-area: three;

}
.box-12 {
  grid-area: four;

}
.box-13 {
  grid-area: five;
width: 48%;

}
.box-14 {
  grid-area: six;
width: 48%;

}
.box-15 {
  grid-area: seven;
width: 48%;

}
.box-16 {
    grid-area: eight;
width: 48%;
}
.container {
  display: grid;
  margin: 1%;
  column-gap: 1%;
  text-align:center;
  row-gap:  10px;
  grid-template-columns:  (4, 1fr);
  grid-template-areas:
 'one two three four'
}
.grid-container {
  display: grid;
  grid-template-columns:  (2, 1fr);
  margin: 1%;
  justify-content:space-around;
  justify-items: center;
  text-align:center;
  row-gap:  2%;
  grid-template-areas:
 'five six'
 'seven eight';
}
#footer-site {
   padding-bottom: 20px;
   padding-top: 20px;
   background-color: #1e1e23;
   text-align: center;
}
#footer-site, #footer-site a {
	color: #fff;
	text-decoration: none;
}
.widget-social li{
	list-style: none;
	display: inline-block;
	margin-right: 20px;
}

.widget-social li a:hover {
	color: #febf4b !important;
}

/* Медиа-запрос для адаптивности */

@media (max-width: 770px) {
      
.content, .container-1{
  display: flex;
  flex-wrap: wrap;
  }
  .text, .box-1, .box-2, .box-3, .box-4  {
   height: 100%;
   width: 50%;
  }
  .box-5, .box-6, .box-7, .box-8 {
   height: auto;
   width: 100%;
  }
.container {
  grid-template-columns:  (2, 1fr);
  grid-template-areas:
 'one two' 
 'three four'
}

 .box-13,.box-14,.box-15,.box-16{
 width: 100%
 }
}


@media (max-width: 620px) {
.header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
  .content, .container-1, .container-2{
    flex-direction: column;
    display: block;
    width: 100%;
 }

    .text, .box-1, .box-2, .box-3, .box-4  {
    height: auto;
    width: 100%;
    }

.container {
  grid-template-columns:  1fr;
  grid-template-areas:
  'one'
  'two' 
  'three' 
  'four'}
.img {
   height: 30%; 
   width: auto;
}
.img1 {
   height: 50%; 
   width: auto;
}
.img2 {
   height: 40%; 
   width: auto;
}
.grid-container {

  grid-template-areas:
 'five' 
  'six'
 'seven' 
  'eight';
}
}
